<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Client</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>Servlet.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignIn</servlet-name>
    <servlet-class>Servlet.SignIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignIn</servlet-name>
    <url-pattern>/SignIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>categoryList</display-name>
    <servlet-name>categoryList</servlet-name>
    <servlet-class>Servlet.categoryList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>categoryList</servlet-name>
    <url-pattern>/categoryList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOut</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Servlet.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>index</servlet-name>
    <servlet-class>Servlet.CategoryList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/MovieCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>remove</servlet-name>
    <servlet-class>Servlet.Remove</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>remove</servlet-name>
    <url-pattern>/Remove</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>deleteUser</servlet-name>
    <servlet-class>Servlet.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkout</servlet-name>
    <servlet-class>Servlet.Checkout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkout</servlet-name>
    <url-pattern>/checkout.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addtocart</servlet-name>
    <servlet-class>Servlet.AddtoCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addtocart</servlet-name>
    <url-pattern>/addtocart.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>myAccount</servlet-name>
    <servlet-class>Servlet.MyAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myAccount</servlet-name>
    <url-pattern>/receiptRequest.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReturnMovie</servlet-name>
    <servlet-class>Servlet.ReturnMovie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnMovie</servlet-name>
    <url-pattern>/ReturnMovie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>details</servlet-name>
    <servlet-class>Servlet.MovieDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>details</servlet-name>
    <url-pattern>/details.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerList</display-name>
    <servlet-name>CustomerList</servlet-name>
    <servlet-class>Servlet.CustomerList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerList</servlet-name>
    <url-pattern>/customerServ</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>MovieList</display-name>
    <servlet-name>MovieList</servlet-name>
    <servlet-class>Servlet.MovieList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieList</servlet-name>
    <url-pattern>/admin/MovieList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieDetail</display-name>
    <servlet-name>MovieDetail</servlet-name>
    <servlet-class>Servlet.MovieDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieDetail</servlet-name>
    <url-pattern>/MovieDetail</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>MovieDelete</display-name>
    <servlet-name>MovieDelete</servlet-name>
    <servlet-class>Servlet.DeleteMovies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieDelete</servlet-name>
    <url-pattern>/admin/DeleteMovies</url-pattern>
  </servlet-mapping> 
  <servlet>
    <description></description>
    <display-name>MovieByCat</display-name>
    <servlet-name>MovieByCat</servlet-name>
    <servlet-class>Servlet.MovieByCat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieByCat</servlet-name>
    <url-pattern>/movieCat.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Receipt</display-name>
    <servlet-name>Receipt</servlet-name>
    <servlet-class>Servlet.CategoryList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Receipt</servlet-name>
    <url-pattern>/receiptRequest.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddtoCart</display-name>
    <servlet-name>AddtoCart</servlet-name>
    <servlet-class>Servlet.AddtoCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddtoCart</servlet-name>
    <url-pattern>/AddtoCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Checkout</display-name>
    <servlet-name>Checkout</servlet-name>
    <servlet-class>Servlet.Checkout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Checkout</servlet-name>
    <url-pattern>/Checkout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>transaction</display-name>
    <servlet-name>transaction</servlet-name>
    <servlet-class>Servlet.Transaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>transaction</servlet-name>
    <url-pattern>/Transaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Remove</display-name>
    <servlet-name>Remove</servlet-name>
    <servlet-class>Servlet.Remove</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Remove</servlet-name>
    <url-pattern>/Remove</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyAccount</display-name>
    <servlet-name>MyAccount</servlet-name>
    <servlet-class>Servlet.MyAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyAccount</servlet-name>
    <url-pattern>/MyAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReturnMovie</display-name>
    <servlet-name>Return</servlet-name>
    <servlet-class>Servlet.ReturnMovie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnMovie</servlet-name>
    <url-pattern>/ReturnMovie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>Servlet.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMovie</display-name>
    <servlet-name>AddMovie</servlet-name>
    <servlet-class>Servlet.AddMovie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMovie</servlet-name>
    <url-pattern>/admin/AddMovie</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>AdminSearchUser</display-name>
    <servlet-name>AdminSearchUser</servlet-name>
    <servlet-class>Servlet.AdminSearchUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchUser</servlet-name>
    <url-pattern>/admin/AdminSearchUser</url-pattern>
  </servlet-mapping>
</web-app>